#s {
	border: 1px solid green;
}
/* colour pallette ******************/
/* background colours */
$bg-color1: #000; /* black */
$bg-color2: #28170b; /* darkochre */
$bg-color3: #664C06; /* ochre */
$bg-color4: #45a049; /* green */
$bg-color5: #4caf50; /* darkgreen */
$bg-color6: #06333f; /* darkblue */

/* text and border colours */
$color1: #fff; /* white */
$color2: #ffbf10; /* amber */
$color3: #ccf; /* lightblue */
$color4: #2f2f54; /* midblue */
$color5: #f00; /* red */
$color6: #947729; /* ochre */
$color7: #a18f34; /* lightochre */
$color8: #ccc; /* grey */

/* fonts and texts ******************/
/* fonts */
$main-font: eurostile, arial, helvetica, sans-serif;

/* text sizes */
$text-size1: 48px; /* 48px */
$text-size2: 24px; /* 24px */
$text-size3: 20px; /* 20px */
$text-size4: 18px; /* 18px */
$text-size5: 16px; /* 16px */
$text-size6: 14px; /* 14px */
$text-size7: 12px; /* 12px */
$text-size8: 10px; /* 10px */
$text-size9: 7px; /* 7px */


/* <div> overflow fix ******************/
.clearfix::after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

/* custom font faces ******************/
@font-face {
	font-family: 'eurostile';

	src: url('../fonts/eurostile/eurosti.eot'); /* IE9 Compatible Modes */
	src: url('../fonts/eurostile/eurosti.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/eurostile/eurosti.ttf')  format('truetype');
}

/* General page styling ******************/
body, header, #wrapper, #sidebar, #main, footer {
	font-family: $main-font;
}
body {
	background-color: $bg-color1;
}
header, footer {
	background-color: $bg-color3,
}
body, #main {
	font-size: $text-size5;
}
body {

}
h1 {
	font-size: $text-size3;
}
h2, #navBar {
	font-size: $text-size4;
}
#wrapper, header, footer {
  color: $color1;
}
#wrapper {
		margin: 5px;
}
#sidebar, #main, #navbar, #popUpMenu {
	a:link, a:visited {
		text-decoration: none;
		color: $color2;
	}
}
#ftrNavBar, #dbmNotice, #policy, #news {
	a:link, a:visited {
  	text-decoration: underline;
		color: $color3;
	}
}
#sitemap {
	a:link, a:visited {
		text-decoration: underline;
		color: $color1;
	}
}
#sidebar, #main, #navBar, #ftrNavBar, #dbmNotice, #popUpMenu {
	a:hover {
		color: $color5;
  }
}
#policy, #news {
	a:hover  {
		color: $color2;
  }
}
#sitemap {
	a:hover {
		color: $color3;
  }
}

/* header styling ******************/
header, #dbmLogo {
	position: relative;
}
header {
	height: 100px;
	border-radius: 100px 0 0 0;
}
#dbmLogo {
	z-index: 2;
	top: 35px;
	left: 150px;
}
#dbmGraphic {
	z-index: 1;
}
#dbmGraphic, #resNav, #popUpMenu, #menuClose {
	position: absolute;
}
#resNav, #popUpMenu {
  top: 40px;
  right: 10px;
}
#menuIcon {
	display: none;
	width: 50px;
	cursor: pointer;
}
#popUpMenu {
	display: none;
	z-index: 3;
	padding: 10px;
  opacity: 0.75;
	border: 2px solid $color4;
	background-color: $bg-color1;
  line-height: 2em;
}
#menuClose {
  top: 5px;
	right: 5px;
	width: 15px;
  height: 15px;
  cursor: pointer;
	text-align: center;
  color: $bg-color1;
  border-radius: 14px;
	background-color: $color4;
  font-weight: bolder;
	line-height: 1em;
}

/* content styling ******************/
#content {
	position: relative;
	display: block;
	width: 100%;
	background-image: url('../images/sidebar_background.png');
	background-repeat: repeat-y;
	background-position: left;
}
#content, #main, #unsubscribe {
	 min-height: 570px;
}
#sidebar, #main {
	float: left;
}

/* sidebar styling ******************/
#sidebar {
	display: inline-block;
	width: 22%;
  padding-top: 5px;
}
#address {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 10px 0px;
	text-align: right;
  color: $color6;
	font-size: $text-size5;
  font-style: italic;
}
.sideImg {
	float: right;
  max-width: 95%;
	margin: 15px 0px;
}

/* main styling ******************/
#main {
	margin-left: 1.5%;
}
#main {
	z-index: 2;
	display: inline-block;
	max-width: 76.5%;
	padding-bottom: 35px;
}
#sub_main {
	margin: 0px;
}

#contact, #sitemap, #policy, #priceBlock, #web  {
	margin-left: 2%;
}
#navBar, #sitemap, #policy {
	max-width: 100%;
}

/* navBar styling ******************/
#navBar {
	position: absolute;
	right: 0px;
	bottom: 15px;

	height: 20px;
}
#navigation {
	margin: 0;

	text-align: right;
	word-spacing: 0.5em;
}

/* footer styling ******************/
footer {
	height: 50px;
	margin: 0;
	margin-top: 10px;
	border-radius: 0 0 45px 0;
	background-position: right;
	font-size: $text-size7;
}
#ftrNavigation, #copyright, #dbmNotice {
	font-size: $text-size7;
}
#ftrNavBar {
	float: left;
	width: 400px;
	height: 50px;
	padding-left: 5px;
	line-height: 1.7em;
}
#copyright {
	color: $color1;
}
#ftrButtons {
	float: right;
	width: 110px;
	margin: 9px 20px auto 0px;
}
.ftrBox {
	display: inline;
	border-style: none;
}
#dbmNotice {
	margin: 0 40px;
	padding: 5px 0;
	text-align: right;
	color: $color2;
}
.current {
	color: $color3;
}
.slash	{
	color: $color7;
}

/* website page styling ******************/
#web {
	width: 98%;
}
#web ul {
	text-align: left;
	line-height: 1.5em;
	list-style: none;
}

#web > ul li::before {
  content: "\2022";
  color: $color7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.imgBrdr {
	max-width: 100%;
	height: auto;
	margin-top: 5px;
	border: 2px solid #ccf; /*light-blue*/
}

/* news page styling ******************/
#sub_main > h2 {
	font-size: $text-size6;
}
#twtrWidget {
	float: right;
	width: 95%;
  height: 425px;
	vertical-align: top;
}
.twitter-timeline {

}
#news {
	margin-bottom: 0;
	text-align: left;
	color: $color2;
	line-height: 1.25em;
}
#news > p {
	margin-top: 0;
	margin-left: 30px;
	text-align: left;
}

/* case-studies page styling ******************/
#csTable {
  max-width: 100%;
  margin: 0 auto 20px 30px;
}
#csTable > td.caseStudy {
  padding: 5px;
}

#imgPanel {
	display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  flex-flow: row wrap;
  width: 100%;
  margin: 20px auto;
}
.image {
	display: inline-block;
	-webkit-flex: auto; /* Safari 6.1+ */
	-ms-flex: auto; /* IE 10 */
	flex: auto;
	margin: 10px 16px 10px 16px;
}
img.caseStudy {
	display: block;
	width: 175px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

/* design page styling */
#priceBlock {
	display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  flex-flow: row wrap;
	width: 100%;
	margin: auto;
	text-align: justify;
	line-height: 1.5em;
}
sup {
	vertical-align: super;

  font-size: small;
}
sup, #pricingBlock, .pricing {
	font-family: $main-font;
}
.pricing {
	display: inline-block;
	-webkit-flex: auto; /* Safari 6.1+ */
	-ms-flex: auto; /* IE 10 */
	flex: auto;
	width: 195px;
	height: 140px;
	margin: 10px 16px 10px 16px;
	padding: 10px 15px;
	text-align: center;
	color: $color1;
	background-color: $bg-color6;
}
.description {
	font-size: $text-size2;
}
.price {
	font-size: $text-size1;
	line-height: 60px;
}

/* Contact Page styling ******************/
#contact, #contact > p	{
	text-align: left;
}
#myImg {
	display: block;
	width: 100%;
}
#myPhoto {
	float: right;
	clear: both;
	width: 190px;
	margin: 15px 0;
	padding-right: 5px;
	padding-bottom: 10px;
}
#myTitle {
	clear: right;
	width: 100%;
  text-align: right;
}
form > * {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;

  resize: vertical;

  border: 1px solid $color8;
  border-radius: 4px;
}
label {
  display: inline-block;

  padding: 5px 5px 5px 0;
}
input[type=submit] {
  float: right;

  margin-right: 10%;
  padding: 10px 20px;

  cursor: pointer;

  color: $color1;
  border: none;
  border-radius: 4px;
  background-color: $bg-color5;
}
input[type=submit]:hover {
  background-color: $bg-color4;
}

.col-15, .col-75, .col-85, .col-error {
  float: left;

  margin-top: 5px;
}
.col-15 {
  width: 15%;
}
.col-75 {
  width: 75%;
}
.col-85 {
  width: 85%;
}
.col-error {
  width: 5%;
  margin-left: 3%;
  padding: 5px 0 ;
}
#frmButtons {

}
/* Clear floats after the columns */
.row::after {
  display: table;
  clear: both;

  content: "";
}
.valid {
	border: solid 2px $color8;
	border-radius: 5px;
}
.padded {
	padding-top: 20px;
}

/* site map page styling ******************/
#sitemap {
	line-height: 1.5em;
}

/* policy page styling ******************/
#policy {
	text-align: left;
	font-size: $text-size6;
}
#policy > h2, #policy > h3, #policy > h4,
#sitemap > h2, #sitemap > h3, #sitemap > h4,
#policy > ul > li:before, #sitemap > ul > li:before,
.highlight {
	color: $color3;
}
#policy > ul, #sitemap > ul {
	list-style: none;
  list-style-position: outside;

}
#policy > ul > li::before, #sitemap > ul > li::before {
  content:'\25A0'; /* a square bullet */
	display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: $text-size7;
}
#privacy {
	float: right;
}

/* Unsubscribe + 404 Page styling ******************/
#unsubscribe, #html404 {
	margin-left: 60px;

	text-align: left;

	line-height: 1.5em;
}
#unsubscribe {
	color: $color2
}
.error {
	color: $color5;
}
#graphic404 {
	position: relative;
	top: 90px;
	left: 90px;
}
#emoticon404 {
	position: absolute;
	z-index: 1;
	top: 250px;
	left: 225px;
	width: 200px;
}

/******************************************
 * responsive style amendments
 ******************************************/
@media only screen and (max-width: 960px) {
	#main {
		width: 76.5%;
	}
  #sub_main > p {
    padding-right: 5px;
  }

  #navigation {
   	font-size: $text-size5;
  }
}

@media only screen and (max-width: 930px) {
	#sidebar {
		display: block;
		max-width: initial;
		width: 100%;
		min-height: auto;
	}
	#address {
		width: 198px;
	}
	.sideImg {
		display: none;
	}
	#twtrWidget {
		display: none;
	}
	#myImg {
		display: none
	}

	#main, #sub-main, #web {
    max-width: 100%;
	}
	#main {
		margin: 0px 5px 0px 0px;
	}
	#sub-main {
		padding-left: 5px;
	}
	#web ul {
    text-align: left;
	}
  #sub_main > p {
    padding-right: 10px;
	}
  #navigation {
    font-size: $text-size5;
	}
}

@media only screen and (max-width: 640px) {
	/* website page styling */
  #wrapper {
		margin: 2px;
	}

	/* header styling */
  #dbmLogo {
		position: relative;
		z-index: 2;
		top: 35px;
		left: 5px;
	}
	#dbmGraphic {
		z-index: 1;
	}

	#menuIcon {
		display: block;
	}

	/*navBar styling */
	#navigation {
		display: none;
	}

	/* foooter styling */
	footer {
		height: auto;
	}
	footer {
    border-radius: 0;
  }
	#ftrNavBar, #ftrButtons {
		float: none;
	}

  #dbmNotice {
    margin: 0;

    text-align: left;
  }

	/* website page styling */
	#web {
		margin-left: 0;
	}

	/* contacts page styling */
  .col-15, .col-85, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
  .col-75 {
    width: 90%;
    margin-top: 0;
  }
  .col-error {
    margin-top: 0;
  }
}

@media only screen and (min-width: 320px) {
	/* website page styling */
	#main {
		margin-left: 5px;
		width: 100%;
	}
}
