/* colour pallette ******************/
/* background colours */
$bg-darkochre: #28170b;	// dark ochre
$bg-ochre: #664C06;			// ochre
$bg-green: #45a049;			// green
$bg-darkgreen: #4caf50;	// slightly darker green
$bg-darkblue: #06333f;	// darkblue

/* text and border colours */
$white: #fff;					// white
$amber: #ffbf10; 			// amber
$lightblue: #ccf;			// light-blue
$midblue: #2f2f54;		// midblue
$red: #f00;						// red
$ochre: #947729;			// ochre
$lightochre: #a18f34;	// light ochre
$grey: #ccc;					// grey


/* fonts and texts ******************/
/* fonts */
$main-font: eurostile, arial, helvetica, sans-serif;

/* text sizes */
$text-size48: 48px;
$text-size24: 24px;
$text-size20: 20px;
$text-size18: 18px;
$text-size16: 16px;
$text-size14: 14px;
$text-size12: 12px;
$text-size10: 10px;
$text-size7: 7px;


/* <div> overflow fix ******************/
.clearfix::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* custom font faces ******************/
@font-face {
	font-family: 'eurostile';
	src: url('../fonts/eurostile/eurosti.eot'); /* IE9 Compat Modes */
	src: url('../fonts/eurostile/eurosti.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/eurostile/eurosti.ttf')  format('truetype');
}

/* General page styling ******************/
body, header, #wrapper, #sidebar, #main, footer {
	font-family: $main-font;
}
body, #wrapper { 
	background-color: $bg-darkochre;
}
header, footer {
	background-color: $bg-ochre,
}
body, #main {
	font-size: $text-size14;
}
body {
	margin: 5px 0;
}
h1 {
	font-size: $text-size20;
}
h2, #navBar {
	font-size: $text-size18;
}
#wrapper, header, footer {
  max-width: 960px;
  color: $white;
}
#wrapper {
  margin: 0 auto ;
}
#sidebar, #main, #navbar, #popUpMenu {
	a:link, a:visited {
		text-decoration: none;
		color: $amber;
	}
}
#ftrNavBar, #dbmNotice, #policy, #news {
	a:link, a:visited {
  	text-decoration: underline;
		color: $lightblue;
	}
}
#sitemap { 
	a:link, a:visited {
		text-decoration: underline;
		color: $white;
	}
}
#sidebar, #main, #navBar, #ftrNavBar, #dbmNotice,#popUpMenu {
	a:hover {
		color: $red;
  }
}
#policy, #news { 
	a:hover  {
		color: $amber;
  }
}
#sitemap {
	a:hover {
		color: $lightblue;
  }
}

/* header styling ******************/
header, #dbmLogo {
	position: relative;
}
header {
	height: 100px;
	border-radius: 100px 0 0 0;
}
#dbmLogo {
	top: 35px;
	left: 150px;
}
#dbmGraphic, #resNav, #popUpMenu {
	position: absolute;
}
#resNav, #popUpMenu {
  top: 40px;
  right: 10px;
}
#menuIcon {
	display: none;
	width: 50px;
}
#popUpMenu {
	display: none;
	border: 2px solid $midblue;
	padding: 10px;
  background-color: $bg-darkochre;
  opacity: 0.75;
}
#menuClose {
	background-color: $midblue;
	border: 2px solid $midblue;
  border-radius: 14px;
  margin: -5px -5px 0px 0px;
	width: 14px;
  height: 14px;
  font-weight: bolder;
	text-align: center;
  color: $bg-darkochre;
  float: right;
  cursor: pointer;  
}

/* content styling ******************/
#content {
	display: block;
	margin: 0px;
	background-image: url('../images/sidebar_background.png');
  background-repeat: repeat-y;
  background-position: left;
}
#content, #main {
   min-height: 570px;
}

/* sidebar styling ******************/
#sidebar {
	display: inline-block;
  padding-top: 5px;
	width: 22.5%;
  float: left;
}
#address {
	position: relative;
	z-index: 1;
	max-width: 215px;
	padding: 10px auto;
	color: 	$ochre;
  font-style: italic;
	font-size: small;
	text-align: right;
}
.sideImg {
	margin: 15px 0px 15px 15px;
  max-width: 93%;
}

/* main styling ******************/
#main {
	display: inline-block;
	width: 76%;
	padding-left: 10px;
  position: relative;
}
#contact, #sitemap, #policy, #priceBlock, .web  {
	margin-left: 30px;
}
#navBar, #sitemap, #policy {
	max-width: 100%;
}
#main, #sub_main {
	margin: 0px;
	min-height: 550px;
}

/* navBar styling ******************/
#navBar {
	height: 20px;
}
#navigation {
	margin: 0;
	text-align: right;
	word-spacing: 0.5em;
}

/* footer styling ******************/
#ftrNavigation, #copyright, #dbmNotice {
	font-size: $text-size10;
}

footer {
	margin: 0;
	background-position: right;
	border-radius: 0 0 45px 0;
	margin-top: 10px;
	height: 50px;
	font-size: $text-size12;
}
#ftrNavBar {
	width: 400px;
	height: 50px;
	padding-left: 5px;
	line-height: 1.75em;
	float: left;
}
#copyright {
	color: $white;
}
#ftrButtons {
	width: 110px;
	margin: 9px 20px auto 0px;
	float: right;
}
.ftrBox {
	display: inline;
	border-style: none;
}
#dbmNotice {
	margin: 0 40px;
	padding: 5px 0;
	text-align: right;
	color: $amber;
}
.current {
	color: $lightblue; 
}
.slash	{
	color: $lightochre; 
}

/* website page styling ******************/
.web, #priceBlock {
	text-align: justify;
	line-height: 1.5em;
}
ul.web {
	text-align: left;
	line-height: 1.5em;
	color: $lightochre;
}
.imgBrdr {
	margin-top: 5px;
	border-width: 2px solid #ccf; /*light-blue*/
	max-width: 100%;
	height: auto;
}

/* news page styling ******************/
#sub_main > h2 {
	font-size: $text-size14;
}
#twtrWidget {
	vertical-align: top;
	margin: 10px 0 auto 10px;
}
#twtrWidget > a {
  data-width: 220px;
  data-height: 425px;
  data-theme: dark;
  data-link-color: $lightochre;
}
.twitter-timeline {
    
}
#news {
	text-align: left;
	line-height: 1.25em;
	color: $amber;
	margin-bottom: 0;
}
#news > p {
	margin-top: 0;
	margin-left: 30px;
	text-align: left;
}

/* case-studies page styling ******************/
#csTable {
	margin: 0 auto 20px 30px;
	max-width: 100%;	
}

#csTable > table.caseStudy{
}
#csTable > td.caseStudy {
	padding: 5px;
}
#imgPanel {
  margin: 20px auto;
	display: -webkit-flex; /* Safari */
  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.image {
	display: inline-block;
	-webkit-flex: auto; /* Safari 6.1+ */
	-ms-flex: auto; /* IE 10 */ 
	flex: auto;
}
img.caseStudy {
	width: 175px;
	border: none;
}

/* design page styling */
#priceBlock {
	margin: auto;
}
sup {
	vertical-align: super;
  font-size: small;
}
sup, #pricingBlock, .pricing {
	font-family: $main-font;
}
.pricing {
	float: left;
	width: 195px;
	height: 140px;
	background-color: $bg-darkblue;
	margin: 10px 0 10px 16px;
	padding: 10px 15px;
	text-align: center;
	color: $white;
}
.description {
	font-size: $text-size24;
}
.price {
	font-size: $text-size48;
	line-height: 60px;
}

/* Contact Page styling ******************/
#contact, #contact > p	{
	text-align: left;
}
#myPhoto {
	margin: 15px 0 15px 15px;
	width: 180px;
	height: 180px;
	padding-right: 5px;
	padding-bottom: 10px;
	float: right;
}
#myTitle {
  text-align: right;
}
form > * {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid $grey;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 5px 5px 5px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: $bg-darkgreen;
  color: $white;
  margin-right: 10%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: $bg-green;
}

.col-15, .col-75, .col-85, .col-error {
  float: left;
  margin-top: 5px;
}
.col-15 {
  width: 15%;
}
.col-75 {
  width: 75%;
}
.col-85 {
  width: 85%;
}
.col-error {
  width: 5%;
  margin-left: 3%;
  padding: 5px 0 ;
}
#frmButtons {
	
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
.valid {
	border: solid 2px $grey;
	border-radius: 5px;
}
.padded {
	padding-top: 20px;
}

/* site map page styling ******************/
#sitemap {
	line-height: 1.5em;
}

/* policy page styling ******************/
#policy {
	text-align: left;
	font-size: $text-size14;
}
#policy > h2, #policy > h3, #policy > h4,
#sitemap > h2, #sitemap > h3, #sitemap > h4,
#policy > ul > li:before, #sitemap > ul > li:before,
.highlight {
	color: $lightblue;
}
#policy > ul, #sitemap > ul {
	list-style: none;
  list-style-position: outside;
     
}
#policy > ul > li:before, #sitemap > ul > li:before {
  content:'\25A0'; /* a square bullet */
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -10px;
  top: 2px;
  font-size: $text-size7;
}
#privacy {
	float: right;
}

/* Unsubscribe + 404 Page styling ******************/
#unsubscribe, #html404 {
	text-align: left;
	line-height: 1.5em;
	margin-left: 60px;
}
#unsubscribe {
	color: $amber
}
.error {
	color: $red;
}
#graphic404 {
	position: relative;
	top: 90px;
	left: 90px;
}
#emoticon404 {
	width: 200px;
	position: absolute;
	z-index: 1;
	top: 250px;
	left: 225px;
}

/******************************************
 * responsive style amendments 
 ******************************************/

@media only screen and (max-width: 800px) {
	ul.web {
		text-align: left;
	}
  #sub_main > p {
    padding-right: 10px;
  }
  #navigation{
   	font-size: $text-size16;
  }
}

@media only screen and (max-width: 640px) {
	#s {
   	border: 1px solid green;
  }
	/* header styling */
  #dbmLogo {
		position: relative;
		z-index: 1;
		top: 35px;
		left: 5px;
	}
	#dbmGraphic {
		z-index: 0;
	}
  #menuIcon {
	display: block;
	}
    
	/* main content styling */
	#content {
    
	}
  #sidebar {
   	margin-top: 100px;
    padding: 0 10px 0 10px;
   	display: block;
    max-width: initial;
    width: 100%;
    float: none;
    min-height: auto;
  }
	#address, #sidebar > img {
		display: none;
	}
  #main {
    margin: 0;
    padding-right: 10px;
    width: 100%;
  }
	
	/*navBar styling */
	#navigation {
		display: none;
	}
    
	/* foooter styling */
	footer {
		height: auto;
	} 
	footer {
    border-radius: 0;
  }
	#ftrNavBar, #ftrButtons {
		float: none;
	}
  #copyright {
    
  }
  #dbmNotice {
    margin: 0;
    text-align: left;
  }
	
	/* website page styling */
	.web {
		margin-left: 0;
	}
    
  /* news page styling */
  #twtrWidget {
   margin-left: 35%;
  }

	/* contacts page styling */
  .col-15, .col-85, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
  .col-75 {
    width: 90%;
    margin-top: 0;
  }
  .col-error {
    margin-top: 0;
  }
}

@media only screen and (max-width: 360px) {

	/* website page styling */
  #main {
    width: 100%;
	}
}
